{% extends 'dugout/base.html' %}
{% load static %}
{% load humanize %}

{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="mb-4 d-sm-flex align-items-center justify-content-between">
        <h1 class="mb-0 text-gray-800 h3">Dashboard</h1>
    </div>

    <!-- Content Row -->
    <div class="row">
        <div class="mb-4 col-xl-4 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Total Responden
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{count_session}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 col-xl-4 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Total Responden Hari Ini
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{count_session_today}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="mb-4 col-xl-4 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Rata-Rata Umur Responden
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{avg_age|floatformat:"1"}} tahun
                            </div>
                        </div>
                        <div class="col-auto">
                            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16">
                                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zM5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1zm0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1z"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-4 col-xl-4 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Newest Session
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{newest_session.totalScore}} ({{n_s_time_minute}}:{{n_s_time_seconds}})
                                / {{newest_session.responden.name}} / 
                                {{newest_session.timeEnd|naturaltime}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 col-xl-4 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Best Session
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{best_session.totalScore}} ({{b_s_time_minute}}:{{b_s_time_seconds}}) 
                                / {{best_session.responden.name}} / 
                                {{best_session.timeEnd|date:"M d, Y"}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 col-xl-4 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Average Session Time
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{a_s_time_minute|floatformat:"0"}} min {{a_s_time_seconds|floatformat:"0"}} seconds
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-4 col-xl-3 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Average Total Score
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{avg_session_score|floatformat:"1"}}/87
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 col-xl-3 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Average Kognitif Score
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{avg_session_k_score|floatformat:"1"}}/29
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 col-xl-3 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Average Sosio-Emosional Score
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{avg_session_s_score|floatformat:"1"}}/30
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 col-xl-3 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Average Fisik Score
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{avg_session_f_score|floatformat:"1"}}/28
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="mb-4 col-xl-3 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Variance/Standar Deviation Total Score
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{variance_session_score|floatformat:"1"}}/{{stdev_session_score|floatformat:"1"}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 col-xl-3 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Variance/Standar Deviation Kognitif Score
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{variance_session_k_score|floatformat:"1"}}/{{stdev_session_k_score|floatformat:"1"}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 col-xl-3 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Variance/Standar Deviation Sosio-Emosional Score
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{variance_session_s_score|floatformat:"1"}}/{{stdev_session_s_score|floatformat:"1"}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-4 col-xl-3 col-md-6">
            <div class="py-2 shadow card border-left-primary h-100">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="mr-2 col">
                            <div class="mb-1 text-xs font-weight-bold text-primary text-uppercase">Variance/Standar Deviation Fisik Score
                            </div>
                            <div class="mb-0 text-gray-800 h5 font-weight-bold">
                                {{variance_session_f_score|floatformat:"1"}}/{{stdev_session_f_score|floatformat:"1"}}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fa fa-user" aria-hidden="true" ></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">

    <!--Chart   -->
    <div class="row">
        <!-- Chart -->
        <div class="col-xl-6 col-md-12">
            <div class="px-2 mb-4 shadow card">
                <!-- Card Header - Dropdown -->
                <div class="flex-row py-3 card-header d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Jenis Kelamin Responden</h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="pt-4 pb-2 chart-pie"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="chart_1" width="486" height="245" style="display: block; width: 486px; height: 245px;" class="chartjs-render-monitor"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fa fa-circle text-primary" aria-hidden="true"></i> Laki Laki
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-circle text-success" aria-hidden="true"></i> Perempuan
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Chart -->
        <div class="col-xl-6 col-md-12">
            <div class="px-2 mb-4 shadow card">
                <!-- Card Header - Dropdown -->
                <div class="flex-row py-3 card-header d-flex align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Status Nikah</h6>
                    
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="pt-4 pb-2 chart-pie"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
                        <canvas id="chart_2" width="486" height="245" style="display: block; width: 486px; height: 245px;" class="chartjs-render-monitor"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fa fa-circle text-primary" aria-hidden="true"></i> Belum Menikah
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-circle text-success" aria-hidden="true"></i> Menikah
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-circle text-warning" aria-hidden="true"></i> Cerai Mati
                        </span>
                        <span class="mr-2">
                            <i class="fa fa-circle text-info" aria-hidden="true"></i> Cerai Hidup
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block script %}
<script src="{% static 'js/Chart.min.js' %}"></script>
<script> //Chart 1
        // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    // Pie Chart Example
    var ctx = document.getElementById("chart_1");
    var chart_1 = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ["Laki Laki", "Perempuan"],
        datasets: [{
          data: [{{count_male}}, {{count_female}}],
          backgroundColor: ['#4e73df', '#1cc88a'],
          hoverBackgroundColor: ['#2e59d9', '#17a673'],
          hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          caretPadding: 10,
        },
        legend: {
          display: false
        },
        cutoutPercentage: 80,
      },
    });
</script>

<script> //Chart 2
        // Set new default font family and font color to mimic Bootstrap's default styling
    Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    Chart.defaults.global.defaultFontColor = '#858796';

    // Pie Chart Example
    var ctx = document.getElementById("chart_2");
    var chart_2 = new Chart(ctx, {
      type: 'doughnut',
      data: {
        labels: ["Belum Menikah", "Menikah", "Cerai Mati", "Cerai Hidup"],
        datasets: [{
          data: [{{count_status_b_m}}, {{count_status_b_m}}, {{count_status_c_m}}, {{count_status_c_h}}],
          backgroundColor: ['#4e73df', '#1cc88a', "#edd96f", '#b53caf'],
          hoverBackgroundColor: ['#2e59d9', '#17a673', '#aba272', '#db76d6' ],
          hoverBorderColor: "rgba(234, 236, 244, 1)",
        }],
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          backgroundColor: "rgb(255,255,255)",
          bodyFontColor: "#858796",
          borderColor: '#dddfeb',
          borderWidth: 1,
          xPadding: 15,
          yPadding: 15,
          displayColors: false,
          caretPadding: 10,
        },
        legend: {
          display: false
        },
        cutoutPercentage: 80,
      },
    });
</script>
{% endblock script %}