<div class="custom-box intro-box">
	<h4>Assalamu’alaikum Warahmatullahi Wabarakatuh</h4>
	<h4>Salam hormat,</h4><br>
	<p align="justify">Kami tim dari Dosen Prodi Psikologi Fakultas Kedokteran Universitas Andalas sedang melakukan penelitian dengan judul <i><b>“Penyusunan Aplikasi untuk mengetahui tingkat pengetahuan orang tua terkait perkembangan anak usia 0-2 tahun”.</b></i></p><br>
	<p align="justify">Penelitian ini bertujuan untuk membantu para orang tua untuk melakukan asesmen diri mengenai pengetahuan yang dimiliki terkait perkembangan anak khususnya usia 0-2 tahun. Semakin baik pengetahuan yang dimiliki oleh orang tua maka juga akan berdampak baik kepada anak melalui stimulasi yang diberikan.</p><br>
	<p align="justify">Tugas Ayah/Bunda adalah memilih salah satu jawaban yang tersedia sesuai dengan yang Ayah/Bunda ketahui. Informasi mengenai orang tua yang kami peroleh selama proses penelitian ini akan dijaga kerahasiaannya dan hanya digunakan untuk kepentingan penelitian.</p><br>
	<p>Atas partisipasi dan waktu yang telah diberikan, kami ucapkan terimakasih.</p><br>
	<p>Jika ada pertanyaan bisa menghubungi email : <b>siskaoktari@med.unand.ac.id</b>. Untuk lebih lengkapnya dapat melihat <a href="contact/">halaman kontak kami</a></p><br>
	<h4 style="text-align: center;"><a href="about/">Tim Peneliti : </a></h4><br><br>
	<div class="row">
		<div class="col-md-4">
			<div style="width: 80%; margin-left: 10%;">
				<img style="display: block; margin: auto;" src="static/img/siska-modified.png" width="180" height="180" alt="Siska Oktari, M.Psi.,Psikolog">
				<p style="text-align: center;"><strong>Siska Oktari, M.Psi.,Psikolog</strong></p>
			</div>
		</div>
		<div class="col-md-4">
			<div style="width: 80%; margin-left: 10%;">
				<img style="display: block; margin: auto;" src="static/img/nelia-modified.png" width="180" height="180" alt="Nelia Afriyeni, S.Psi.,M.A">
				<p style="text-align: center;"><strong>Nelia Afriyeni, S.Psi.,M.A</strong></p>
			</div>
		</div>
		<div class="col-md-4">
			<div style="width: 80%; margin-left: 10%;">
				<img style="display: block; margin: auto;" src="static/img/rozi.jpg" width="180" height="180" alt="Dr. Rozi Sastra Purna, M.Psi.,Psikolog ">
				<p style="text-align: center;"><strong>Dr. Rozi Sastra Purna, M.Psi.,Psikolog </strong></p>
			</div>
		</div>
	</div>
	
	<br>
	<button type="submit" class="btn" onclick="showRegister()" id="submit">Mulai Kuis</button>
	<!--<canvas id="myChart" width="600" height="480"></canvas>-->
</div>