{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Quiz App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/static/css/style.css?{% now 'U' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<!-- Nav -->
	<div class="nav-box hide">
		<nav>
	      <ul id="floatleft">
	          <li><a href="/" class="active" onclick="goToHome()">Home</a></li>
	      </ul>
	      <ul id="floatright">
	      	  <li><a href="../about/">About</a></li>
	          <li><a href="contact/">Contact</a></li>
	      </ul>
	   </nav> 
	</div>

	<!-- Footer -->
	<footer>
       <p>Copyright &copy; 2021, Andi Fathul Mukminin</p>
    </footer>
<script src="{% static 'js/question.js' %}"></script>
<script src="{% static 'js/app-edit.js' %}"></script>
</body>
</html>


