{% extends 'quiz.html' %}

{% block content %}
	<!-- Intro Box -->
	<!-- {% include 'snippets/intro_box.html' %} -->

	<!-- Register Box -->
	{% include 'snippets/form_box_2.html' %}

	<!-- Home Box -->
	<div class="home-box custom-box hide">
		<p align="justify">Pengetahuan orang tua terkait dengan perkembangan anak usia  0-2 tahun ini akan  kami nilai melalui 3 Ranah yaitu</p>
		<br>
		<div class="clearfix">
			<img class="img-home" src="static/img/kognitif-modified.png" alt=""><p align="justify">(1)  <strong>Kognitif</strong> yaitu ranah perkembangan anak terkait dengan proses berfikir anak, pengetahuan dan kegiatan belajar anak</p>
		</div>
		<div class="clearfix">
			<img class="img-home-1" src="static/img/sosio-modified.png" alt=""><p align="justify">(2) <strong>Sosial-emosi</strong> yaitu ranah yang menilai bagaimana kemampuan anak dalam melakukan proses interaksi social dan perilaku yang menunjukan kondisi emosi</p>
		</div>
		<div class="clearfix">
			<img class="img-home" src="static/img/fisik-modified.png" alt=""><p align="justify">(3) <strong>Fisik dan motorik</strong> yaitu ranah perkembangan anak terkait kemampuan gerak tubuh anak dalam menjalani berbagai kegiatan untuk proses adaptasinya di dalam lingkungan. </p>
		</div>
		
		<!--<p>Total number of questions : <span class="total-question"></span></p>
		<p>Time : <span class="quiz-time"></span></p>-->
		<button type="button" class="btn" onclick="startQuiz()">Mulai Kuis</button>
	</div>
	<!-- Quiz Box -->
	<div class="quiz-box custom-box hide">
		<header>
			<div class="question-number"> </div>
			<div class="timer">
                <div class="time_left_txt">Sisa Waktu</div>
                <div class="timer_sec"></div>
            </div>
            <div class="time_line"></div>
        </header>
		<div class="question-text"></div>
		<div class="option-container">
		</div>
		<div class="next-question-btn">
			<button type="button" class="btn" onclick="prev()">Prev</button>
			<button type="button" class="btn" onclick="next()">Next</button>
			<button type="button" class="btn" id="finishAttempt" onclick="showDialog()">Selesaikan Kuis</button>
		</div>
		<div class="answer-indicator">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<!-- Result Box -->
	<div class="result-box custom-box hide">
		<h1>Hasil Kuis</h1>
		<canvas id="myChart" width="600" height="480"></canvas>
		<table>
			<tr>
				<td>Jumlah Pertanyaan</td>
				<td><span class="total-question"></span></td>
			</tr>
			<tr>
				<td>Jumlah Percobaan</td>
				<td><span class="total-attempt"></span></td>
			</tr>
			<tr>
				<td>Total Benar</td>
				<td><span class="total-correct"></span></td>
			</tr>
			<tr>
				<td>Total Salah</td>
				<td><span class="total-wrong"></span></td>
			</tr>
			<tr>
				<td>Persentase</td>
				<td><span class="percentage"></span></td>
			</tr>
			<tr>
				<td>Skor Total</td>
				<td><span class="total-score"></span></td>
			</tr>
		</table>
		<canvas id="spec-canvas" width="600" height="480"></canvas>
		<h3>Pengetahuan Ranah Kognitif</h3>
		<table>
			<tr>
				<td>Kognitif</td>
				<td><span class="kognitif"></span></td>
			</tr>
		</table>
		<div class="parallelogram">
		  <div class="text">
		    <div class="shape"></div>
		    <div class="kognitif-text">
		    </div>
		  </div>
		</div>
		<h3>Pengetahuan Ranah Sosio Emosional</h3>
		<table>
			<tr>
				<td>Sosio Emosional</td>
				<td><span class="sosio"></span></td>
			</tr>
		</table>
		<div class="parallelogram">
		  <div class="text">
		    <div class="shape"></div>
		    <div class="sosio-text">
		    </div>
		  </div>
		</div>
		<h3>Pengetahuan Ranah Fisik</h3>
		<table>
			<tr>
				<td>Fisik</td>
				<td><span class="fisik"></span></td>
			</tr>
		</table>
		<div class="parallelogram">
		  <div class="text">
		    <div class="shape"></div>
		    <div class="fisik-text">
		    </div>
		  </div>
		</div>
		<!--<button type="button" class="btn" onclick="tryAgainQuiz()">Coba Lagi</button>-->
		<button type="button" class="btn" onclick="goToHome()">Home</button>
	</div>
	<!-- Comment Box -->
	<div class="comment-box hide">
		<section id="app">
	        <div class="container">
	          <p>Silahkan berikan saran untuk perbaikan aplikasi ini</p>
	          <div class="row">
	            <div class="col-6">
	              <div class="comment">
	            <p v-for="items in item" v-text="items"></p>
	              </div><!--End Comment-->
	              </div><!--End col -->
	              </div><!-- End row -->
	          <div class="row">
	            <div class="col-6">
	          <textarea type="text" id="inputcomment" placeholder="Saran minimal 10 karakter"></textarea>
	              <button class='primaryContained float-right' type="submit" onclick="postComment()">Kirim Saran</button>
	            </div><!-- End col -->
	          </div><!--End Row -->
	          <p class="comment-status"></p>
	        </div><!--End Container -->
      </section><!-- end App -->
	</div>
	
    <!-- Pop Up -->
    <div class="confirm hide">
	  <h1 class="confirm-title">Confirm your action</h1>
	  <p class="confirm-desc">Are you really <em>really</em> <strong>really</strong> sure that you want to exit this awesome application?</p>
	  <button type="button" onclick="closeDialog()">Cancel</button>
	  <button type="button" id="submitQuiz" onclick="quizOver()" autofocus>Confirm</button>
	</div>

	<!-- Media -->
	<div class="menu hide">
	   <div class=" d-none d-sm-block">
		<input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
		<label class="menu-open-button" for="menu-open">
			<span class="lines line-1"></span>
			<span class="lines line-2"></span>
			<span class="lines line-3"></span>
		</label>

		<a href="#" class="menu-item blue" onclick="resumeAudio()"> <i class="fa fa-play"></i> </a>
		<a href="#" class="menu-item green" onclick="pauseAudio()"> <i class="fa fa-pause"></i> </a>
		<a href="#" class="menu-item red" onclick="increaseVolume()"> <i class="fa fa-volume-up"></i> </a>
		<a href="#" class="menu-item lightblue" onclick="mutedAudio()"> <i class="fa fa-volume-off" aria-hidden=true></i>
		<a href="#" class="menu-item orange" onclick="decreaseVolume()"> <i class="fa fa-volume-down"></i> </a>
		<a href="#" class="menu-item purple"> <i class="fa fa-step-forward" aria-hidden="true"></i></a>
	</div>
	</div>
{% endblock content %}