{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Survey Pengetahuan Perkembangan Anak</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" charset="UTF-8">
	<link rel="stylesheet" href="/static/css/style.css?{% now 'U' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
</head>
<body>
	<!-- Nav -->
	<div class="nav-box hide">
		<nav>
	      <ul id="floatleft">
	          <li><a href="/" class="active" onclick="goToHome()">Home</a></li>
	      </ul>
	      <ul id="floatright">
	      	  <li><a href="about/">About</a></li>
	          <li><a href="contact/">Contact</a></li>
	      </ul>
	   </nav> 
	</div>
	<!-- Intro Box -->
	<div class="custom-box intro-box">
		<h4>Assalamu’alaikum Warahmatullahi Wabarakatuh</h4>
		<h4>Salam hormat,</h4><br>
		<p align="justify">Kami tim dari Dosen Prodi Psikologi Fakultas Kedokteran Universitas Andalas sedang melakukan penelitian dengan judul <i><b>“Penyusunan Aplikasi untuk mengetahui tingkat pengetahuan orang tua terkait perkembangan anak usia 0-2 tahun”.</b></i></p><br>
		<p align="justify">Penelitian ini bertujuan untuk membantu para orang tua untuk melakukan asesmen diri mengenai pengetahuan yang dimiliki terkait perkembangan anak khususnya usia 0-2 tahun. Semakin baik pengetahuan yang dimiliki oleh orang tua maka juga akan berdampak baik kepada anak melalui stimulasi yang diberikan.</p><br>
		<p align="justify">Tugas Ayah/Bunda adalah memilih salah satu jawaban yang tersedia sesuai dengan yang Ayah/Bunda ketahui. Informasi mengenai orang tua yang kami peroleh selama proses penelitian ini akan dijaga kerahasiaannya dan hanya digunakan untuk kepentingan penelitian.</p><br>
		<p>Atas partisipasi dan waktu yang telah diberikan, kami ucapkan terimakasih.</p><br>
		<p>Jika ada pertanyaan bisa menghubungi email : <b>siskaoktari@med.unand.ac.id</b></p><br>
		<h4>Tim Peneliti : </h4>
		<p>Siska Oktari, M.Psi.,Psikolog</p>
		<p>Nelia Afriyeni, S.Psi.,M.A</p>
		<p>Dr. Rozi Sastra Purna, M.Psi.,Psikolog </p>
		<br>
		<button type="submit" class="btn" onclick="showRegister()" id="submit">Start Quiz</button>
		<!--<canvas id="myChart" width="600" height="480"></canvas>-->
	</div>

	<!-- Register Box -->
	<div class="custom-box register-box hide">
	  <h4>Mohon isi info diri anda sebelum memulai survey</h4>
	  <br>
	  <div class="form">
	    <form class="login-form" id="login-form">
	      {% csrf_token %}
	      <label for="nama"><b>Nama</b></label>
	      <input type="text" name="nama" id="nama" placeholder="Nama" required />
	      <label for="jekel"><b>Jenis Kelamin</b></label>
	      <select name="gender" id="gender" required>
	      	<option value="" disabled selected>Jenis Kelamin</option>
	      	<option value="L">Laki-Laki</option>
	      	<option value="P">Perempuan</option>
	      </select>
	      <label for="age"><b>Usia</b></label>
	      <input type="number" name="age" id="age"onkeypress="return onlyNumberKey(event)" 
	      maxlength="2"  placeholder="Usia" required/>
	      <label for="prov"><b>Provinsi</b></label>
	      <select name="prov" id="prov" required>
	      	<!--
	      	<option value="SB">Sumatera Barat</option>
	      	<option value="SS">Sulawesi Selatan</option>-->
	      	<option value="" disabled selected>Provinsi</option>
	      	{% for region in regions %}
	      		<!--<script type="text/javascript">console.log("{{region}}")</script>-->
			    <option value="{{ region.provinsi }}">{{ region.provinsi }}</option>
			{% endfor %}
	      </select>
	      <label for="kabupaten"><b>Kabupaten</b></label>
	      <select name="kabupaten" id="kabupaten" required>
	      	<option value="" disabled selected>Kota/Kabupaten</option>
	      	<!--<option value="MKS">Makassar</option>
	      	<option value="PDG">Padang</option>-->
	      	{% for region in regionFilter %}
	      		<script type="text/javascript">console.log("{{region}}")</script>
			    <option value="{{ region.kabupaten }}">{{ region.kabupaten }}</option>
			{% endfor %}
	      </select>
	      <label for="agama"><b>Agama</b></label>
	      <select name="agama" id="agama" required>
	      	<option value="" disabled selected>Agama</option>
	      	<option value="Islam">Islam</option>
	      	<option value="Kristen">Kristen</option>
	      	<option value="Katolik">Katolik</option>
	      	<option value="Hindu">Hindu</option>
	      	<option value="Buddha">Buddha</option>
	      	<option value="Konghucu">Konghucu</option>
	      	<option value="Other">Lainnya</option>
	      </select>
	      <label for="marriage"><b>Status Pernikahan</b></label>
	      <select name="marriage" id="marriage" required>
	      	<option value="" disabled selected>Status Pernikahan</option>
	      	<option value="Belum Menikah">Belum Menikah</option>
	      	<option value="Menikah">Menikah</option>
	      	<option value="Cerai Mati">Cerai Mati</option>
	      	<option value="Cerai Hidup">Cerai Hidup</option>
	      </select>
	      <label for="children"><b>Jumlah Anak</b></label>
	      <select name="children" id="children" required>
	      	<option value="" disabled selected>Jumlah Anak</option>
	      	<option value="0">0</option><option value="1">1</option><option value="2">2</option>
	      	<option value="3">3</option><option value="4">4</option><option value="5">5</option>
	      	<option value="5+">>5</option>
	      </select>
	      <label for="childage1"><b>Usia anak pertama</b></label>
	      <select name="childrenage1" id="childrenage1" disabled="disabled" required>
	      	<option value="" disabled selected>Usia anak pertama</option>
	      	<option value="-">-</option><option value="< 1"> < 1 tahun </option>
	      	<option value="1">1 tahun</option><option value="2">2 tahun</option><option value="2-5">2-5 tahun</option>
	      	<option value=">5"> >5 tahun</option>
	      </select>
	      <label for="childage2"><b>Usia anak kedua</b></label>
	      <select name="childrenage2" id="childrenage2" disabled="disabled" required>
	      	<option value="" disabled selected>Usia anak kedua</option>
	      	<option value="-">-</option><option value="< 1"> < 1 tahun</option>
	      	<option value="1">1 tahun</option><option value="2">2 tahun</option><option value="2-5">2-5 tahun</option>
	      	<option value=">5"> >5 tahun</option>
	      </select>
	      <label for="pendidikan"><b>Pendidikan Terakhir</b></label>
	      <select name="pendidikan" id="pendidikan" required>
	      	<option value="" disabled selected> Pendidikan Terakhir</option>
	      	<option value="Tidak tamat SD">Tidak tamat SD</option>
	      	<option value="SD sederajat">SD sederajat</option>
	      	<option value="SMP sederajat">SMP sederajat</option>
	      	<option value="SMA sederajat">SMA sederajat</option>
	      	<option value="Diploma I/II/III">Diploma I/II/III</option>
	      	<option value="DIV / S1">DIV / S1</option>
	      	<option value="S2">S2</option>
	      	<option value="S3">S3</option>
	      </select>
	      <label for="educbg"><b>Latar Belakang Pendidikan</b></label>
	      <select name="educbg" id="educbg" required>
	      	<option value="" disabled selected> Latar Belakang Pendidikan </option>
	      	<option value="Pendidikan medis/kesehatan">Pendidikan medis/kesehatan</option>
	      	<option value="Pendidikan non medis/kesehatan">Pendidikan non medis/kesehatan</option>
	      </select>
	      <label for="job"><b>Pekerjaan</b></label>
	      <select name="job" id="job" required>
	      	<option value="" disabled selected> Pekerjaan </option>
	      	<option value="Pegawai Negeri BUMN/BUMD/Polri/TNI">Pegawai Negeri BUMN/BUMD/Polri/TNI</option>
	      	<option value="Pegawai Swasta">Pegawai Swasta</option>
	      	<option value="Wirausahawan">Wirausahawan</option>
	      	<option value="Mahasiswa">Mahasiswa</option>
	      	<option value="Ibu Rumah Tangga">Ibu Rumah Tangga</option>
	      	<option value="Tidak Sedang Bekerja">Tidak Sedang Bekerja</option>
	      	<option value="Lainnya">Lainnya</option>
	      </select>
	      <label for="jobbg"><b>Latar Belakang Pekerjaan</b></label>
	      <select name="jobbg" id="jobbg" required>
	      	<option value="" disabled selected> Latar Belakang Pekerjaan </option>
	      	<option value="Pekerjaan medis/kesehatan">Pekerjaan medis/kesehatan</option>
	      	<option value="Pekerjaan non medis/kesehatan">Pekerjaan non medis/kesehatan</option>
	      </select>
	      <br><br>
	      <button data-url='{% url "home" %}' type="submit" class="btn" onclick="showInstruction()" id="submit">Quiz Instruction</button>
	    </form>
	  </div>
	</div>

	<!-- Home Box -->
	<div class="home-box custom-box hide">
		<h3>Quiz Instruction:</h3>
		<p>Total number of questions : <span class="total-question"></span></p>
		<p>Time : <span class="quiz-time"></span></p>
		<button type="button" class="btn" onclick="startQuiz()">Start Quiz</button>
	</div>
	<!-- Quiz Box -->
	<div class="quiz-box custom-box hide">
		<header>
			<div class="question-number"> </div>
			<div class="timer">
                <div class="time_left_txt">Time Left</div>
                <div class="timer_sec"></div>
            </div>
            <div class="time_line"></div>
        </header>
		<div class="question-text"></div>
		<div class="option-container">
		</div>
		<div class="next-question-btn">
			<button type="button" class="btn" onclick="prev()">Prev</button>
			<button type="button" class="btn" onclick="next()">Next</button>
			<button type="button" class="btn" id="finishAttempt" onclick="showDialog()">Finish Attempt</button>
		</div>
		<div class="answer-indicator">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>

	<!-- Result Box -->
	<div class="result-box custom-box hide">
		<h1>Quiz Result</h1>
		<canvas id="myChart" width="600" height="480"></canvas>
		<table>
			<tr>
				<td>Total Question</td>
				<td><span class="total-question"></span></td>
			</tr>
			<tr>
				<td>Attempt</td>
				<td><span class="total-attempt"></span></td>
			</tr>
			<tr>
				<td>Correct</td>
				<td><span class="total-correct"></span></td>
			</tr>
			<tr>
				<td>Wrong</td>
				<td><span class="total-wrong"></span></td>
			</tr>
			<tr>
				<td>Kognitif</td>
				<td><span class="kognitif"></span></td>
			</tr>
			<tr>
				<td>Sosio Emosional</td>
				<td><span class="sosio"></span></td>
			</tr>
			<tr>
				<td>Fisik</td>
				<td><span class="fisik"></span></td>
			</tr>
			<tr>
				<td>Percentage</td>
				<td><span class="percentage"></span></td>
			</tr>
			<tr>
				<td>Your Total Score</td>
				<td><span class="total-score"></span></td>
			</tr>
		</table>
		<button type="button" class="btn" onclick="tryAgainQuiz()">Try Again</button>
		<button type="button" class="btn" onclick="goToHome()">Go To Home</button>
	</div>
	
    <!-- Pop Up -->
    <div class="confirm hide">
	  <h1 class="confirm-title">Confirm your action</h1>
	  <p class="confirm-desc">Are you really <em>really</em> <strong>really</strong> sure that you want to exit this awesome application?</p>
	  <button type="button" onclick="closeDialog()">Cancel</button>
	  <button type="button" id="submitQuiz" onclick="quizOver()" autofocus>Confirm</button>
	</div>

	<!-- Media -->
	<div class="menu hide">
	   <input type="checkbox" href="#" class="menu-open" name="menu-open" id="menu-open" />
	   <label class="menu-open-button" for="menu-open">
	    <span class="lines line-1"></span>
	    <span class="lines line-2"></span>
	    <span class="lines line-3"></span>
	  </label>

	   <a href="#" class="menu-item blue" onclick="resumeAudio()"> <i class="fa fa-play"></i> </a>
	   <a href="#" class="menu-item green" onclick="pauseAudio()"> <i class="fa fa-pause"></i> </a>
	   <a href="#" class="menu-item red" onclick="increaseVolume()"> <i class="fa fa-volume-up"></i> </a>
	   <a href="#" class="menu-item lightblue" onclick="mutedAudio()"> <i class="fa fa-volume-off" aria-hidden=true></i>
	   <a href="#" class="menu-item orange" onclick="decreaseVolume()"> <i class="fa fa-volume-down"></i> </a>
	   <a href="#" class="menu-item purple"> <i class="fa fa-step-forward" aria-hidden="true"></i></a>
 </a>
	</div>

	<!-- Footer -->
	<footer>
       <p>Copyright &copy; 2021, Andi Fathul Mukminin</p>
    </footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/question-real.js' %}"></script>
<script src="{% static 'js/app-edit.js' %}"></script>
<script type="text/javascript">
	window.csrfmiddlewaretoken="{{csrf_token}}";
	console.log(window.csrfmiddlewaretoken);
	console.log("{{regionFilter}}")
	$.getJSON('https://ipapi.co/json/', function(data) {
	  $.each( data, function( key, val ) {
	    jsonIP[key] = val;
	  });
	});
</script>
</body>
</html>


